*{
    margin: 0;
    padding: 0;
    font-family: 'Poppines',sans-serif;
    box-sizing: border-box;
}
body {
    background: #692b2b;
    color: #fff;

}
#header {
    width: 100%;
    height: 100vh;
    background-image:url("/Asset/dcc.png") ;
    background-size: cover;
    background-position: center; 
}